body{
    background-color:#2c3e50;
    display: flex;
    justify-content:center;
    align-items: center;
    height:100vh;
}
#container{
    color:silver;
}
.digit{
    font-size: 120px;
    font-weight:bold;
}
.txt{
    font-size: 37px;
    font-weight:bold;
}
#btn-container{
    margin-top:35px;
    text-align:center;
}
.btn{
    padding:7px 13px;
    margin:0px 10px;
    font-size:15px;
    color:white;
    cursor: pointer;
    
}
#start{
    background-color:#1abc9c;
    border-radius:3px;
}
#stop{
    background-color:#3498db;
    border-radius:4px;
}
#reset{
    background-color:red;
    border-radius:6px;   
}
